html {
  scroll-behavior: smooth;

}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* background-color: aqua; */
  /* overflow: hidden; */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.heder {
  width: 100%;
  height: 60px;
  background-color: #333;
  max-height: 60px;
  display: flex;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.logo {
  width: 165px;
  height: 60px;
}

.col {
  height: 30px;
  width: auto;
  margin-top: 15px;
  margin-left: 10px;
}
.belera {
  background-color: #222222;
  width: 137px;
  height: 60px;
  display: block;
}
.doheder {
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
}

#plus {
  margin-right: 10px;
  color: #9b9b9b;
}

.hedericon {
  width: 300px;
  height: 60px;
  /* background-color: aqua; */
  position: absolute;
  right: 0px;
}

.iconcenatr {
  display: flex;
  width: 240px;
  position: absolute;
  right: 0px;
}
#icon {
  font-size: 30px;
  margin-left: 15px;
  margin: 5px;
  margin-top: 15px;
  color: #222222;
}
.linija {
  height: 60px;
  width: 50px;
  border-left: 1px solid rgb(61, 61, 61);
  border-right: 1px solid rgb(61, 61, 61);
}
.linija:hover #icon {
  color: aliceblue;
}

.linija:hover {
  background-color: #222222;
  cursor: grabbing;
}

#kanta:hover {
  background-color: #222222;
  cursor: pointer;
}

#kanta {
  background-color: rgb(10, 255, 10);
}

.hederbtn {
  display: flex;
  height: 48px;
  width: 950px;
  /* background-color: antiquewhite; */
  margin: auto;
  margin-top: 20px;
}

.hederbtncentar {
  position: absolute;
  right: 200px;
  display: flex;
  float: right;
  width: 600px;
}

.logo1 {
  width: 132px;
  height: 48px;
  z-index: 10;
}

.btn1 {
  height: 48px;
  width: 200px;
  background-color: rgb(235, 185, 92);
  text-align: center;
  vertical-align: middle;
  margin-right: 50px;
  border: 1px solid rgb(235, 185, 92);
  transition: 1s;
}

#line {
  /* color: white; */
  font-size: 35px;
  vertical-align: middle;
  margin-top: 8px;
  background-color: transparent;
  background-color: none;
}

.line {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.txt {
  margin-right: 100px;
}

#btn1:hover {
  background-color: transparent;
  color: white;
  transition: 1s;
}

.thema {
  position: absolute;
  width: 100%;
  opacity: 1;
  top: 60px;
  left: 0px;
  height: 100%;
  
}

.centar {
  width: 60%;
  height: 400px;
  /* background-color: rebeccapurple; */
  position: relative;
  top: 250px;
  left: 100px;
  display: flex;
  right: -200px;
}

.txt1 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 0;
  color: white;
}

.centartxt {
  width: 400px;
  height: 90%;
  /* background-color: red; */
  /* display: block; */
  margin-left: 30px;
}

.txt2 {
  font-size: 32px;
  color: white;
  margin-top: -20px;
  font-family: inherit;
}
.playcentar {
  width: 600px;
  position: absolute;
  right: 0px;
  height: 90%;
  right: 0px;
  /* background-color: #333; */
  /* display: flex; */
}

.playtxt {
  width: 200px;
  font-size: 24px;
  color: white;
  margin-top: 150px;
  position: absolute;
  right: -200px;
}

.txtplay {
  display: inline-block;
}
.logoplay {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.466);
  display: inline-block;
  position: absolute;
  margin-top: 90px;
  border-radius: 50%;
  right: -300px;
}
.play1 {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid orange;
  margin: auto;
  border-radius: 50%;
  margin-top: 25px;
  z-index: 4;
  opacity: 1;
  cursor: pointer;
  transition: 1s;
  
}

#play {
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 60px;
  background-color: none;
}

.down {
  width: 100%;
  height: 100px;
  /* background-color: rebeccapurple; */
  position: relative;
  bottom: 0px;
  display: flex;
  top: 118px;
}
.levi {
  width: 49%;

  height: 150px;
  /* background-color: red; */
}
.desni {
  width: 49%;
  height: 150px;
  background-color: rgb(235, 185, 92);
  position: absolute;
  right: 0px;
  display: flex;
  /* margin: 10px; */
}



.play1:hover {
  background-color: rgb(235, 185, 92);
  color: white;
  transition: 1s;
}
.tekst1 {
  padding: 10px;
  width: 49%;
  height: 150px;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.tekst2 {
  padding: 10px;
  width: 49%;
  height: 150px;
  color: white;
  font-size: 20px;
}
.mouse {
  width: 150px;
  height: 150px;
  align-items: center;
  position: absolute;
  left: 300px;
  top: 20px;
}

#mouse {
  font-size: 30px;
  color: rgb(235, 185, 92);
  align-items: center;
  cursor: pointer;
}

.drugidiv {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 1600px;
  background-color: rgb(32, 18, 46);
  position: relative;
  top: 130px;
  box-sizing: border-box;
}

.about {
  color: white;
  padding: 70px;
  font-family: inherit;
  font-size: 50px;
  font-weight: 100;
  margin: auto;
}

.textdrugidiv {
  width: 100%;
  height: 700px;
  /* background-color: red; */
  display: flex;
}

.levo_1 {
  width: 29%;
  height: 650px;
  /* background-color: #333; */
  position: relative;
  margin-left: 140px;
}

.desno_1 {
  width: 500px;
  height: 700px;
  /* background-color: aqua; */
  margin-right: 20px;
  position: relative;
  right: -300px;
}
.levotext {
  font-size: 30px;
  color: white;
}

.levotext1 {
  font-size: 24px;
  color: white;
}

.btnlearn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  margin-right: 50px;
  border: 1px solid rgb(235, 185, 92);
  color: white;
  transition: 1s;
}
.learnbtn {
  width: 150px;
  height: 50px;
}

.learnbtn:hover #btn2 {
  background-color: rgb(235, 185, 92);
  color: white;
  cursor: pointer;
}
.devojka {
  margin-top: 50px;
}

.treci_div {
  width: 100%;
  height: 800px;
  /* background-color: red; */
  z-index: 0;
  /* justify-content: space-between; */
}

.what {
  color: white;
  height: 100px;
  margin: 40px 0px 0px 70px;
  font-family: inherit;
  font-weight: 100;
  font-size: 50px;
}
.flex {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 80px;
}
.one {
  display: block;
  transition: 1s;
}

.two {  
  transition: 1s;
}

.three {
  transition: 1s;
}
#slika:hover {
  transform: translate(0px, 50px);
  -webkit-transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-out;
  transition: all 0.3s ease-out 0s;
  opacity: 0.7;
}

#slika:hover #tx1 {
  color: orange;
}

.trecidiv {
  width: 100%;
  height: 870px;
  background-color: #1e1e1e;
  position: relative;
  top: 100px;
}

.pro {
  font-size: 170px;
  font-weight: 600;
  -webkit-text-stroke: 1px #e9e3d9;
  -webkit-text-fill-color: transparent;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  left: 150px;
}

.trecicentar {
  width: 1300px;
  height: 600px;
  background-color: rebeccapurple;
  position: relative;
  top: 190px;
  left: 140px;
}

.ezicon {
  width: 100%;
  height: 60px;
  /* background-color: red; */
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: space-between;

  top: 350px;
  left: 10px;
}

#iconez {
  font-size: 50px;
  color: rgb(235, 185, 92);
  cursor: pointer;
}

.trecitekst {
  width: 400px;
  height: 200px;
  color: rebeccapurple;
}

.cetrvtidiv {
  width: 100%px;
  height: 900px;
  background-color: rgb(32, 18, 46);
}

.dodatak {
  width: 800px;
  height: 200px;
  background-color: rgb(235, 185, 92);
  position: absolute;
  left: 140px;
  transition: 1s;
}

.cettxt {
  font-family: inherit;
  font-size: 20px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}
.cettxt1 {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}

.logodesno {
  width: 100px;
  height: 100px;
  background-color: #605b5b;
  position: absolute;
  left: 600px;
  bottom: 50px;
  border-radius: 50%;
  background-color: rgb(240, 179, 65);
}

#logodesno {
  position: absolute;
  top: 35px;
  left: 36px;
  font-size: 30px;
  color: white;
}

.dodatak:hover {
  background-color: #222222;
  transition: 1s;
}

.cetvrticentar {
  width: 100%;
  height: 500px;
  /* background-color: red; */
  display: flex;
  position: relative;
  top: 400px;
}

.levi10 {
  width: 700px;
  height: 500px;
  /* background-color: rebeccapurple; */
  float: left;
  padding: 30px;
  padding-left: 50px;
}

.naslov1 {
  color: white;
  font-size: 40px;
}

.naslov2 {
  color: white;
  font-size: 30px;
}

.btnlearn1 {
  width: 150px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  margin-right: 50px;
  border: 1px solid orange;
  color: orange;
  transition: 1s;
}

.learnbtn1:hover #btn2 {
  background-color: white;
  transition: 1s;
  cursor: pointer;
}

.btnlearn1 {
  width: 150px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  margin-right: 50px;
  border: 1px solid orange;
  color: orange;
}

.petidiv {
  width: 100%;
  height: 500px;
  background-color: #222222;
}

.peticentar {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 500px;
  height: 500px;
  /* background-color: red;  */
  margin: auto;
  
  position: relative; 
}

.desinger {
  position: absolute;
  top: 300px;
  left: 220px;
}

.dsgtxt {
  position: absolute;
  top: 400px;
  left: 170px;
  color: white;
  font-size: 12px;
}

.sestidiv {
  width: 100%;
  height: 800px;
  background-color: rgb(32, 18, 46);
  display: inline-block;
}

.prv {
  
  width: 1300px;
  height: 300px;
  background-color: rgb(32, 18, 46);
  border: 1px solid white;
  margin: auto;
  transition: 1s;
  position: relative;
  
}


.prv:hover {
 background-color:  rgba(255, 255, 255, 0.466);
  
}



.kauc {
  margin-top: 30px;
  margin-left: 20px;
}

.art {
  position: absolute;
  font-size: 14px;
  font-weight: 100;
  top: 30px;
  left: 280px;
  color: white;
  
}

.art2 {
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  bottom: 125px;
  left: 280px;
  color: white;
  transition: 1s;
}

.art3{
  position: absolute;
  font-size: 12px;
  font-weight: 100;
  bottom: 40px;
  left: 280px;
  color: white;
}

.logodesno2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.1);
  position: absolute;
  left: 1150px;
  bottom: 110px;
  transition: 1s;
}



#strela {
  font-size: 30px;
  position: relative;
  top: 20px;
  left: 20px;
  color: wheat;
  font-weight: 600;
}

#ok {
  margin-top: 20px;
}

.prv:hover .logodesno2  {
  background-color:rgb(240, 179, 65);
  
}

.prv:hover .art2 {
  color: rgb(240, 179, 65);
  
}

.poslednjidiv {
  width: 100%;
  height: 500px;
  background-color: #222222;
  display: block;
  position: relative;
}

.korpa {
  
  margin: auto;
  width: 85%;
  height: 300px;
  display: flex;
  background-color:none ;
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
  border-bottom: 0.5px solid gray;
  
}

.pslika {
  width: 20%;
  margin-top: 20px;
  margin-left: 10px;
}
.ptxt {
  width: 20%;
  color: white;
}

.ptxt2{
  color: white;
}



#pro:hover {
  text-decoration: underline;
  cursor: pointer;
}


.ptxt3{
  position: absolute;
  right: 17px;
  width: 35%;
  color: white;
}
.inpt{
  border: none;
  
  width: 300px;
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 5px;

}




.inpt:focus { 
  outline: none;
  /* border: none; */
}

.btne {
  width: 50px;
  height: 53px;
  position: absolute;
  top: 112px;
  background-color: rgb(240, 179, 65);
  border: none;
  cursor: pointer;
}
.picon {
margin-top: 20px;
font-size: 25px;
display: flex;
gap: 30px;
color: white;

}

#fb{
  background-color: transparent;
    color: white;
   text-decoration: auto;
  transition: 1s;
  cursor: pointer;

}
#fb:hover {
  color: rgb(235, 185, 92);
  /* twebkit-transform: rotateZ(180deg); */
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

#ins {
  background-color: transparent;
  color: white;
 text-decoration: auto;
  transition: all 1s;
  cursor: pointer;
  
}

#ins:hover {
  color: rgb(235, 185, 92);
     /* webkit-transform: rotateZ(180deg); */
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  
}

#twt {
  background-color: transparent;
    color: white;
   text-decoration: auto;
  transition: 1s;
  cursor: pointer;
  
}

#twt:hover {
  color: rgb(235, 185, 92);
  /* webkit-transform: rotateZ(360deg); */
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

#lin {
  background-color: transparent;
    color: white;
   text-decoration: auto;
  transition: 1s;
  cursor: pointer;
}

#lin:hover{
  color: rgb(235, 185, 92);
  /* webkit-transform: rotateZ(180deg); */
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.finsh {
  display: flex;
  width: 70%;
  height: 40px;
  /* background-color: red; */
  position:absolute;
  bottom: 80px;
  left: 220px;
  align-items: baseline;
  align-items: center;
  gap: 5px;
  justify-content: center;


}


#new1 {
  z-index: 100;
  height: 4000px;
  width: 370px;
  position: fixed;
  right: 0px;
  background-color: #111;
  display: none;
  transition:all 1s ease;
  animation-duration: 2s;
  animation-name: show;
  overflow: scroll;
}

@keyframes show {
  from {
    opacity: 0.2;
    width: 0%;
    width: 0%;
  }

  
}



#close {
  font-size: 40px;
  color: white;
  padding: 40px;
  cursor: pointer;
  
  
}

#close:hover {
  color: rgb(235, 185, 92);
}

.menu {
  width: 100%;
  height: 400px;
  /* background-color: red; */ 
  /* color: #111;g */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  
  /* justify-content: center; */
}
#menutxt {
  font-size: 24px;
  font-weight:700;
  align-items: center;
  color: white;
  
}

#menutxt:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(235, 185, 92);

}

#newicon {
  /* margin-top: 200px; */
  margin-left: 90px;
}

.myBtn {
  margin: 0;
   display: flex;
   flex-direction: column;
  background: #d6a04c;
    height: 40px;
    width: 40px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
    z-index: 1;
    cursor:pointer;
    /* text-decoration: auto; */
  
}

@keyframes MoveUpDown {
  from {
      bottom: 13px;
  }
  to { 
      bottom: 20px;
  }
}

#up {
  font-size: 23px;
  background-color: transparent;
  color: white;
  text-decoration: auto;
  position: relative;
  margin-top: -15px;
  animation-name: MoveUpDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s
  
  
   

}

.jmp1 {
  text-decoration: none; 
  /* margin: 100px; */
}


.yt {
  position: absolute;
  bottom: 300px;
  width: 700px;
  height: 400px;
  right: 350px;
  display: none;

}

.hid {
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 650px;
  right: 150px;
  display: none;
}


#momak{
  transition: 1s;
}

#momak:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.devojka {
  transition: 1s;
}
.devojka:hover {
  transform: scale(1.2);
  opacity: 0.7;
}






